*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(105, 255, 193);
    background-color: rgb(255, 105, 198);

    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    text-transform:uppercase;
    letter-spacing: 30px;
    text-shadow: rgba(78, 78, 78, 0.623) 10px 5px 3px;
}

/* ===========CONTENEDOR============== */
.contenedor{
    display: grid;
    gap: 1rem;
    padding: 1rem;
/* ================ */
    grid-auto-flow: dense;
    /* grid-auto-rows: 15rem; */
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
/* ================ */
}

.contenedor img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/* ==========CONTENEDOR INVISIBLE============= */
.contenedor-zoom{
    display: none;
}
.contenedor-zoom:target{
    display: flex;
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100vh;
    background-color: rgba(0, 0, 0, 0.733);
    justify-content: center;
    align-items: center;
}
.contenedor-zoom img{
    height: 100%;
    padding: 0 20px;
}

/* ============BOTONES=========== */
.contenedor-zoom .botones-desplazamiento{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
.contenedor-zoom .botones-desplazamiento:hover{
    color: rgb(95, 95, 95);
}

.contenedor-zoom .boton-salir{
    position: absolute;
    transform: translate(-5px,-285px);
    font-size: 2.5rem;
    color: white;
}
.contenedor-zoom .boton-salir:hover{
    color: rgb(95, 95, 95);
}

/* ===========FOOTER============== */
footer{
    background-color: rgb(255, 92, 105);
    background-color: rgb(105, 255, 193);
    background-color: rgb(255, 105, 198);
    padding: 50px;
    font-size: 19px;
    text-align: center;
}
