*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;


}
body{
    /* background-color: rgba(149, 186, 255, 0.247); */
}
header{
    background-color: rgb(105, 255, 193);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    text-transform:uppercase;
    letter-spacing: 40px;
    text-shadow: rgb(203, 117, 236) 5px 5px 5px;
    border-bottom:3px solid rgb(255, 196, 255);
}
footer{
    background-color: rgb(255, 121, 97);
    padding: 30px;
    font-size: 19px;
    text-align: center;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 1000px;
    padding: 25px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contenedor img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}


/* ======================= */
.contenedor-zoom{
    display: none;
}

.contenedor-zoom:target{
    display: flex;
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100vh;
    background-color: rgba(0, 0, 0, 0.733);
    justify-content: center;
    align-items: center;

}
.contenedor-zoom img{
    height: 100%;
    padding: 0 20px;
}
.contenedor-zoom .botones-desplazamiento{
    color: rgb(0, 0, 0);
    background-color: yellow;
    border-radius: 20px;
    padding: 5px 10px;
}
.contenedor-zoom .boton-salir{
    position: absolute;
    transform: translate(-10px,-280px);
    font-size: 30px;
    color: white;
    font-size: 40px;
}


/* ===========javascript */
/* .mostrar{
    display: flex;
} */
